
.about-container {
    height: 1000px;
    display: flex;
    justify-content: center;
   
    align-items: flex-start;
    margin-top: 8%;
}


.profile-container-about {
    margin: 0 90px;
    text-align: center;
}

.profile-container-about img{
    border-radius: 1000px;
    width: 200px;


}

.links {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  
}

.links:hover {
    color: #64d2af;
}