.single-story-cont{
    display: flex;
    flex-direction:column;
    width: 1200px;
    gap: 10px;
    margin: 1% auto;
}
.title-genre-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.single-story-genres{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.title-genre-cont .genre{
    width: 90px;
}

.story-image{
    object-fit: cover;
    margin: 0 auto;
    width: 1000px;
    border-radius: 60px;
   
}

.author-like-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 100px;
}

.author-cont{
    font-size: 20px;
    font-weight: 500;
}

.likes-cont {
    display: flex;
    flex-direction: row;
    gap:5px;

    margin-right: 3px;
}

.fa-heart {
    margin: 0 3px;
}

.like-button-1 { 
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(179, 223, 236);
}


.story-content-cont {
    line-height: 1.5;
    font-size: 18px;
}